# PostgreSQL Configuration
POSTGRES_DB=mfm_db
POSTGRES_USER=mfm_user
POSTGRES_PASSWORD=mfm_password
POSTGRES_PORT=5432

# pgAdmin Configuration
PGADMIN_EMAIL=admin@mfm.local
PGADMIN_PASSWORD=admin
PGADMIN_PORT=5050